<style>
  @import "/static/css/default.css";

  :host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.125em 0.1875em;
  }

  #logo {
    display: block;
    color: var(--regular-scarlet);
    font-size: 50px;
    text-decoration: none;
  }
</style>
<a id="logo" class="font-cg-bold" href="/">BNC_Insight</a>
<ul id="user-panel">
  <li><button>Log In</button></li>
  <li><button>Sign Up</button></li>
</ul>
