<style>
  @import "/static/css/default.css";

  :host {
    padding: 30px;
    display: flex;
  }

  :host > div {
    flex: 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #time-panel {
    font-size: large;
    cursor: default;
  }

  #logo {
    color: var(--regular-scarlet);
    font-size: 50px;
    text-decoration: none;
  }

  #user-panel {
    width: 200px;
    height: 30px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  #user-panel > li {
    flex: 1 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  #user-panel > li > button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: large;
    cursor: pointer;
  }

  #user-panel > li > button:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  #user-panel > li > button:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #article-panel {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
  }
</style>
<div>
  <span id="time-panel"></span>
</div>
<div>
  <a id="logo" class="font-cg-bold" href="/">BNC_Insight</a>
</div>
<div>
  <ul id="user-panel"></ul>
</div>
