<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <script type="importmap">
      {
        "imports": {
          "jquery": "https://cdn.jsdelivr.net/npm/jquery@3.7.1/+esm"
        }
      }
    </script>
    <script>
      const API_URL = "<%=API_URL%>"
    </script>
    <script type="module" src="/static/components/page/<%=script%>"></script>
  </head>
  <body style="margin: 0;">
    <%-`<${component}></${component}>`%>
  </body>
</html>
