@import "/static/css/palette.css";
@import "/static/css/font.css";

h1,
h2,
h3,
h4,
h5,
h6,
span,
time {
  cursor: default;
}

button {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}
