<style>
  @import "/static/css/default/default.css";

  /* #slider {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */

  #slider {
    width: 300px;
    height: 200px;
    list-style-type: none;
    list-style-position: inside;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
  }

  .slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .error-message {
    display: flex;
    margin-top: 3px;
    color: var(--red);
    font-size: small;
  }

  .error-message::before {
    -webkit-mask: url("/static/img/alert.svg") no-repeat 50% 50%;
    mask: url("/static/img/alert.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    content: "";
    display: inline-block;
    height: 13px;
    width: 13px;
    background-color: var(--red);
    line-height: 50%;
    margin-right: 5px;
  }

  .error-message[hidden] {
    visibility: hidden;
  }

  .continue-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: var(--regular-scarlet);
    color: white;
    font-size: large;
  }

  .continue-button:hover {
    background-color: var(--deep-scarlet);
  }
</style>
<ul id="slider">
  <li class="slide">
    <div class="input-box">
      <wcpnt-input
        id="id-input"
        title="Please enter your ID."
        autofocus
        placeholder="ID"
      ></wcpnt-input>
      <label class="error-message" for="id-input" hidden></label>
    </div>
    <button class="continue-button">Continue</button>
  </li>
  <li class="slide">
    <div class="input-box">
      <wcpnt-input
        id="password-input"
        title="Please enter your password."
        password
        placeholder="Password"
      ></wcpnt-input>
      <label class="error-message" for="password-input" hidden></label>
    </div>
  </li>
  <li class="slide">
    <div class="input-box">
      <wcpnt-input
        id="password-confirm-input"
        title="Please confirm your password."
        password
        placeholder="Password Confirm"
      ></wcpnt-input>
      <label class="error-message" for="password-confirm-input" hidden></label>
    </div>
  </li>
  <li class="slide">
    <div class="input-box">
      <wcpnt-input
        id="name-input"
        title="Please enter a name to be displayed."
        placeholder="Name"
      ></wcpnt-input>
      <label class="error-message" for="name-input" hidden></label>
    </div>
  </li>
  <li class="slide">
    <div class="input-box">
      <wcpnt-input
        id="auth-token-input"
        title="Please enter the authentication token provided by the administrator."
        placeholder="Authentication Token"
      ></wcpnt-input>
      <label class="error-message" for="auth-token-input" hidden></label>
    </div>
  </li>
</ul>
