<style>
  @import "/static/css/default.css";

  .content-wrapper {
    padding: 30px;
    border-width: 3px 2px;
    border-style: solid;
    border-color: var(--scarlet) var(--light-silver);
  }

  #article-field {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #metadata-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #metadata-top {
    display: flex;
    gap: 10px;
  }

  #content {
    padding: 0;
  }

  #textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
  }

  #textarea:focus {
    outline: none;
  }
</style>
<h1 id="title"></h1>
<div class="content-wrapper" id="article-field">
  <div id="metadata-wrapper">
    <div id="metadata-top">
      <select id="category-select">
        <option value="">-- Please choose an category --</option>
        <option value="Financial">Financial</option>
        <option value="Economy">Economy</option>
        <option value="Social">Social</option>
        <option value="IT">IT</option>
        <option value="Science">Science</option>
      </select>
      <button id="upload-button">Upload</button>
    </div>
    <x-input id="title-input" placeholder="Title"></x-input>
    <x-input id="subtitle-input" placeholder="Subtitle"></x-input>
  </div>
  <div class="content-wrapper" id="content">
    <nav>
      <button><b>B</b></button>
      <button><i>I</i></button>
      <button><s>S</s></button>
      <button><u>U</u></button>
      <button>&ldquo;&rdquo;</button>
      <button>OL</button>
      <button>UL</button>
      <button>Link</button>
    </nav>
    <div id="editor"></div>
  </div>
</div>
