<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
      rel="stylesheet"
    />
    <script type="importmap">
      {
        "imports": {
          "quill": "https://cdn.jsdelivr.net/npm/quill@2.0.2/+esm",
          "katex": "https://cdn.jsdelivr.net/npm/katex@0.16.11/+esm"
        }
      }
    </script>
    <style>
      .ql-editor {
        min-height: 500px;
      }

      .ql-snow {
        border-color: silver;
      }

      .ql-tooltip[data-mode="image"]::before {
        content: "Enter image:";
      }
    </style>
  </head>
  <body style="margin: 0">
    <div id="editor" spellcheck="false"></div>
    <script type="module">
      import Quill from "quill";
      import katex from "katex";

      window.katex = katex;

      function imageHandler() {
        const { tooltip } = this.quill.theme;
        const { save: originalSave, hide: originalHide } = tooltip;
        tooltip.save = function () {
          const range = this.quill.getSelection(true);
          const value = this.textbox.value;
          if (value) {
            this.quill.insertEmbed(range.index, "image", value, "user");
          }
        };
        tooltip.hide = function () {
          this.save = originalSave;
          this.hide = originalHide;
          this.hide();
        };
        tooltip.edit("image");
        tooltip.textbox.placeholder = "Embed URL";
      }

      const quill = new Quill("#editor", {
        modules: {
          toolbar: {
            container: [
              { font: [] },
              { header: [1, 2, 3, 4, 5, 6, false] },
              { size: ["small", false, "large", "huge", "10pt"] },
              "bold",
              "italic",
              "underline",
              "strike",
              "blockquote",
              "code-block",
              "link",
              "image",
              "video",
              "formula",
              { list: "ordered" },
              { list: "bullet" },
              { list: "check" },
              { script: "sub" },
              { script: "super" },
              { indent: "-1" },
              { indent: "+1" },
              { color: [] },
              { background: [] },
              { align: [] },
              "clean",
            ],
            handlers: {
              image: imageHandler,
            },
          },
        },
        theme: "snow",
      });

      window.quill = quill;
    </script>
  </body>
</html>
