<style>
  @import "/static/css/default.css";

  .content-wrapper {
    padding: 30px;
    border-width: 3px 2px;
    border-style: solid;
    border-color: var(--scarlet) var(--light-silver);
  }

  #article-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #metadata-top {
    display: flex;
    gap: 10px;
  }

  #editor-frame {
    width: 100%;
    border: none;
  }
</style>
<h1 id="title"></h1>
<div class="content-wrapper" id="article-field">
  <div id="metadata-top">
    <select id="category-select">
      <option value="">-- Please choose an category --</option>
      <option value="Financial">Financial</option>
      <option value="Economy">Economy</option>
      <option value="Social">Social</option>
      <option value="IT">IT</option>
      <option value="Science">Science</option>
    </select>
    <button id="upload-button">Upload</button>
  </div>
  <x-input id="title-input" placeholder="Title"></x-input>
  <x-input id="subtitle-input" placeholder="Subtitle"></x-input>
  <iframe
    id="editor-frame"
    src="/static/components/article/editor-frame.html"
  ></iframe>
</div>
