.body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 30px;
  width: 100%;
  min-width: max-content;
  height: max-content;
  min-height: 100vh;
}

.decoline {
  flex: 0 0 auto;
  background: linear-gradient(
    90deg,
    #000000 0%,
    #000000 calc(100% / 3),
    var(--scarlet) calc(100% / 3),
    var(--scarlet) calc(100% / 3 * 2),
    var(--light-silver) calc(100% / 3 * 2),
    var(--light-silver) 100%
  );
  height: 10px;
}

.header {
  display: flex;
}

.header > div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: large;
}

.logo {
  color: var(--regular-scarlet);
  font-weight: 700;
  font-size: 65px;
  text-decoration: none;
}

.categories > ul {
  display: flex;
  width: 100%;
  height: 50px;
  list-style: none;
}

.categories > ul > li,
.categories > ul > li > a {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
  font-size: 1.1rem;
  text-decoration: none;
}

.categories > ul > li > a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  background: var(--regular-scarlet);
  width: 100%;
  height: 2px;
  content: "";
}

.categories > ul > li > a:hover::after {
  transform: scaleX(0.7);
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
