<style>
  @import "/static/css/default/default.css";

  :host {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    height: 500px;
  }

  h1 {
    font-size: 30px;
    text-align: center;
    margin: 10px;
    align-self: center;
  }
</style>
<wcpnt-header></wcpnt-header>
<main>
  <form>
    <h1 id="title" class="font-1"></h1>
    <slot name="panel" slot="panel"></slot>
  </form>
</main>
<footer></footer>
