<style>
  @import "/static/css/default.css";

  :host {
    min-width: max-content;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .decoline {
    flex: 0 0 auto;
    height: 10px;
    margin: 30px;
    background: linear-gradient(
      90deg,
      #000000 0%,
      #000000 calc(100% / 3),
      var(--scarlet) calc(100% / 3),
      var(--scarlet) calc(100% / 3 * 2),
      var(--light-silver) calc(100% / 3 * 2),
      var(--light-silver) 100%
    );
  }

  x-header {
    flex: 0 0 auto;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
<div class="decoline"></div>
<x-header></x-header>
<main>
  <slot></slot>
</main>
<div class="decoline"></div>
