:root {
  --primary-color: #0823a8;
  --secondary-color: color-mix(in srgb, var(--text-color) 60%, transparent);
  --tertiary-color: #d6d6d6;
  --accent-color: #ef4040;
  --background-color: #ffffff;
  --text-color: #212121;
}
