@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@mixin default() {
  font-style: normal;
  font-family: system-ui;
  font-optical-sizing: auto;
}

@mixin inter() {
  @include default();
  font-family: "Inter";
}

@mixin cormorant() {
  @include default();
  font-family: "Cormorant";
}

@mixin roboto-slab() {
  @include default();
  font-family: "Roboto Slab";
}
