@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@mixin font($font-family) {
  font-style: normal;
  font-family: $font-family, serif, system-ui;
  font-optical-sizing: auto;
}

@mixin inter() {
  @include font("Inter");
}

@mixin cormorant() {
  @include font("Cormorant");
}

@mixin roboto-slab() {
  @include font("Roboto Slab");
}

@mixin lexend() {
  @include font("Lexend");
}
