@use "fonts" as fonts;

.no-article-title {
  @include fonts.lexend();
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.article-anchor {
  display: flex;
  gap: 0.5em;

  &:hover {
    text-decoration: underline;
  }
}

.thumbnail {
  flex-shrink: 0;
  margin: 0;
  width: 200px;

  & > img {
    display: block;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.title,
.subtitle {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.title {
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.subtitle {
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.main {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    color: var(--secondary-color);
    font-size: 0.8em;
  }
}

.divider {
  border: none;
  background-color: var(--tertiary-color);
  width: 100%;
  height: 1px;
}
