:root {
  --regular-scarlet: #a60000;
  --scarlet: #d11e00;
  --deep-scarlet: #b01a00;
  --red: #ef4040;
  --light-silver: #dcdcdc;
}

* {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}
