@import "_colors";

body {
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.ql-container {
  font-size: large !important;
}
