@use "fonts" as fonts;

.container {
  @include fonts.roboto-slab();
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.time {
  display: block;
  margin-left: auto;
  width: max-content;
  color: var(--secondary-color);
  font-size: 0.8em;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  & > div {
    display: inline-block;

    &:nth-child(1) {
      width: 4em;
      height: 4em;
    }

    &:nth-child(2) > span {
      @include fonts.lexend();
      display: block;
      line-height: 1em;

      &:nth-child(1) {
        font-size: 3em;
      }

      &:nth-child(2) {
        margin-left: 0.2em;
        font-size: 1em;
      }
    }
  }
}

.category-nav {
  margin: 0 auto;
  width: max-content;
}

.nav-button {
  @include fonts.malgun-gothic();
  display: inline-block;
  position: relative;
  align-content: center;
  padding: 0 1em;
  height: 2em;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: 200ms ease-in-out;
    background: var(--primary-color);
    width: 100%;
    height: 2px;
    content: "";
  }

  &:hover::after {
    transform: scaleX(0.8);
  }
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff")
    format("woff");
  font-family: "ChosunBg";
}

.caja-mark {
  margin: 0 1em;

  & > img {
    display: block;
    margin: 0 auto;
    height: 2.5em;
  }

  & > figcaption {
    margin-top: 0.5em;
    color: #002157;
    font-size: 0.5em;
    font-family: "ChosunBg";
    text-align: center;
  }
}
