.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 0.75rem;
  place-items: center;
}

.time {
  grid-row: span 1 / span 1;
  font-size: large;
}

.logo {
  grid-row: span 1 / span 1;
  color: var(--regular-scarlet);
  font-weight: 700;
  font-size: 65px;
  text-decoration: none;
}

.logoImage {
  width: 100px;
}

.user {
  display: flex;
  grid-row: span 1 / span 1;
  height: 60%;
}

.user > * {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  color: black;
  font-size: large;
  text-decoration: none;
}

.user > *:hover {
  background: rgba(0, 0, 0, 0.05);
}

.categories {
  display: flex;
  grid-column: span 3 / span 3;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
}

.categories > * {
  display: flex;
  position: relative;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}

.categories > *::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: 300ms ease-in-out;
  background: var(--regular-scarlet);
  width: 100%;
  height: 2px;
  content: "";
}

.categories > *:hover::after {
  transform: scaleX(0.75);
}
