@use "fonts" as fonts;

.article-container {
  display: grid;
  position: relative;
  grid-template-columns: 12fr 1px 8fr;
  gap: 0.5em;
  box-sizing: border-box;
  width: 100%;

  & > * {
    grid-column: span 1;
  }
}

@mixin divider() {
  margin: 0;
  border: none;
  background-color: var(--tertiary-color);
}

.horizental-divider {
  @include divider();
  width: 100%;
  height: 1px;
}

.vertical-divider {
  @include divider();
  width: 1px;
  height: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding: 1em;
}

.article-anchor {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &:hover {
    text-decoration: underline;
  }
}

.thumbnail {
  margin: 0;
  width: 100%;

  & > img {
    display: block;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.title,
.subtitle {
  margin: 0;
  word-break: break-all;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    color: var(--secondary-color);
    font-size: 0.8em;
  }
}

@mixin event-panel() {
  position: absolute;
  width: 300px;
}

$event-panel-offset: 1em;

.left-event-panel {
  @include event-panel();
  right: calc(100% + $event-panel-offset);
}

.right-event-panel {
  @include event-panel();
  left: calc(100% + $event-panel-offset);
}
