.articles {
  display: grid;
  grid-template-rows: 6fr 5fr;
  grid-template-columns: 5fr 3fr 3fr;
  flex: 1;
  gap: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.main {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}

.sub1 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
}

.sub2 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.sub3 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}

.articles > article {
  display: flex;
  gap: 10px;
  outline: 1px solid black;
  padding: 10px;
}

.main,
.sub2,
.sub3 {
  flex-direction: column;
}

.sub1 {
  flex-direction: row;
}

.articles > article > img {
  width: 100%;
}
