.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  padding: 30px;
  min-height: 100vh;
}

.decoline {
  flex: 0 0 auto;
  background: linear-gradient(
    90deg,
    var(--text-color) 0%,
    var(--text-color) calc(100% / 3),
    var(--primary-color) calc(100% / 3),
    var(--primary-color) calc(100% / 3 * 2),
    var(--tertiary-color) calc(100% / 3 * 2),
    var(--tertiary-color) 100%
  );
  height: 10px;
}

.children-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 30px;
  width: 1200px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
