@use "fonts" as fonts;

.post-article-button {
  @include fonts.inter();
  display: block;
  align-self: flex-end;
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 0.5em 1em;
  color: var(--background-color);
}
