@use "fonts" as fonts;

.title {
  @include fonts.lexend();
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  width: 400px;
}

.submit {
  @include fonts.inter();
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 0.5em;
  color: var(--background-color);
}
