@use "fonts" as fonts;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.button {
  @include fonts.inter();
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 0.5em 1em;
  width: max-content;
  color: var(--background-color);
}

.cropper-nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.2em;
}
