@use "fonts" as fonts;

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.submit-button {
  @include fonts.inter();
  align-self: flex-end;
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 1em 2em;
  width: max-content;
  color: var(--background-color);
}
